.Collector {
  .missions {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;

    .mission {
      &.complete {
        .header {
          background: var(--df-green);
          color: black;
          padding-left: 5px;
        }
      }
      &.minimised {
        .header {
          h3 {
            margin: 0;
          }
        }
      }

      .header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 0.5em;
        gap: 1em;

        h3 {
          font-weight: bold;
          font-size: 18px;
          margin: 0;
          padding: 0;
        }
      }

      .items {
        .item {
          border-left: 4px solid transparent;
          margin-bottom: 4px;
          padding: 2px 0 2px 0.5em;
          display: flex;
          flex-flow: row nowrap;
          gap: 1em;
          width: 100%;

          --item-color: transparent;
          border-color: var(--item-color);
          box-shadow: inset 100px 0 100px -100px var(--item-color);

          &.common {
            --item-color: var(--df-quality-common);
          }
          &.uncommon {
            --item-color: var(--df-quality-uncommon);
          }
          &.rare {
            --item-color: var(--df-quality-rare);
          }
          &.epic {
            --item-color: var(--df-quality-epic);
          }
          &.legendary {
            --item-color: var(--df-quality-legendary);
          }
          &.exotic {
            --item-color: var(--df-quality-exotic);
          }

          .name {
            flex-grow: 1;

            display: flex;
            flex-flow: row nowrap;
            gap: 5px;
          }

          &.complete {
            .progress {
              font-weight: bold;
              color: black;
              background: var(--df-green);
              padding: 0 4px;
            }
          }
        }
      }
    }
  }

  .newThisSeason {
    font-size: 12px;
    color: gold;
  }

  .requiresExtraction {
    font-size: 12px;
    color: cyan;
  }

  .legend {
    margin-top: 2em;

    & > div {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.5em;
    }
  }
}

[data-theme="light"] {
  .Collector {
    .newThisSeason {
      color: orangered;
    }
    .requiresExtraction {
      color: blueviolet;
    }
  }
}
