.MissionTree {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4px;

  .scrollContainer {
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .missionTreeCanvas {
    width: 1400px;
    height: 250px;
  }

  .missionDisplay {
    min-width: 400px;
    max-width: 800px;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-top-width: 5px;
    border-top-color: lightgrey;

    &.completed {
      border-color: var(--df-green);
    }

    .name {
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    .description {
      .condition, .information {
        color: red;
        background: rgba(255, 0, 0, 0.2);
        padding: 0.5em;
        margin-bottom: 0.5em;
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5em;

        p {
          padding: 0;
          margin: 0;
        }
      }
      .information {
        color: white;
        background: rgba(50,50,255,0.5);
      }

      .quality-indicator {
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        margin: 0 0.1em 0 0.25em;
        &.green {
          background: var(--df-quality-uncommon);
        }
        &.blue {
          background: var(--df-quality-rare);
        }
        &.purple {
          background: var(--df-quality-epic);
        }
        &.gold {
          background: var(--df-quality-legendary);
        }
        &.red {
          background: var(--df-quality-exotic);
        }
      }

      ul {
        margin: 0 2em 1em;
        padding: 0;

        li {
          margin-bottom: 0.5em;
          list-style-type: square;
        }
      }

      & em {
        color: var(--df-green);
        color: gold;
        font-weight: bold;
        font-style: normal;
      }
      & strong {
        color: gold;
      }
    }

    .status {
      &.completed {
        color: var(--df-green);
      }
    }
  }

  .missionStats {
    &.complete {
      background-color: var(--df-green);
      color: black;
      padding: 5px;
      font-weight: bold;
    }
  }
}
