* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-family: system-ui;

  --bg-color: #f0f0f0;
  --text-color: #000;
  --toggle-content: "☀️";

  &[data-theme="light"] {
    --bg-color: #f0f0f0;
    --text-color: #000;
    --toggle-content: "☀️";
  }
  &[data-theme="dark"] {
    --bg-color: #000;
    --text-color: #f0f0f0;
    --toggle-content: "🌙";
  }

  body {
    background: var(--bg-color);
    color: var(--text-color);
  }

  #theme-toggle {
    position: fixed;
    top: 5px;
    right: 5px;
    &::after {
      content: var(--toggle-content);
    }
  }
}

.App {
  --df-green: #10f898;
  --df-quality-common: #c4c4c2;
  /* uncommon, rare, epic, legendary, exotic */
  /* green, blue, purple, orange, red */
  --df-quality-uncommon: #2aca96;
  --df-quality-rare: #589fdc;
  --df-quality-epic: #9a71dc;
  --df-quality-legendary: #d0814d;
  --df-quality-exotic: #da5758;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .sections {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    padding-top: 40px;

    .section {
      /* border: 1px solid red; */

      h2 {
        margin: 0 0 1em;
        padding: 0;
        font-size: 24px;
      }
    }
  }

  .MapTimers {
    .currentTime {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 0.5em;
    }

    .timers {
      .timer {
        padding: 0.5em;
        border-left: 5px solid var(--df-green);

        h3 {
          font-size: 24px;
          padding: 0;
          margin: 0;
        }

        &.live {
          background: var(--df-green);
          color: black;
          font-weight: bold;
        }

        .time {
          font-size: 18px;
        }
      }
    }
  }

  .Collector {
    .missions {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1em;

      .mission {
        h3 {
          font-weight: bold;
          font-size: 18px;
          margin: 0 0 0.5em;
        }

        .items {
          .item {
            border-left: 4px solid transparent;
            margin-bottom: 4px;
            padding: 2px 0 2px 0.5em;
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
            width: 100%;

            --item-color: transparent;
            border-color: var(--item-color);
            box-shadow: inset 100px 0 100px -100px var(--item-color);

            &.common {
              --item-color: var(--df-quality-common);
            }
            &.uncommon {
              --item-color: var(--df-quality-uncommon);
            }
            &.rare {
              --item-color: var(--df-quality-rare);
            }
            &.epic {
              --item-color: var(--df-quality-epic);
            }
            &.legendary {
              --item-color: var(--df-quality-legendary);
            }
            &.exotic {
              --item-color: var(--df-quality-exotic);
            }

            .name {
              flex-grow: 1;
            }

            .buttons {
              display: flex;
              flex-flow: row nowrap;
              gap: 4px;
              overflow: hidden;

              .button {
                width: 24px;
                height: 24px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                color: black;
                font-weight: bold;
                user-select: none;

                &.add {
                  background: var(--df-green);
                }

                &.remove {
                  background: var(--df-quality-exotic);
                }

                & > span {
                  transform: translateY(-4px);
                }

                &.disabled {
                  cursor: not-allowed;
                  background: var(--df-quality-common);
                }
              }
            }
          }
        }
      }
    }
  }
}
