html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



.App {

  --df-green: #10f898;

  .currentTime {
    margin-bottom: 1em;
  }

  .timers {
    .timer {
      padding: 0.5em;
      border-left: 5px solid var(--df-green);

      h2 {
        font-size: 24px;
        padding: 0;
        margin: 0;
      }

      &.live {
        background: var(--df-green);
        color: black;
        font-weight: bold;
      }

      .time {
        font-size: 18px;
      }
    }
  }
}